<div class="row">
    <div class="col-md-4"style="padding-left: 25px">
        <h3>Rates & Services</h3>

        <p>ShallDo Compassionate Caregiver Services has affordable hourly rates available upon request.
            We are committed to keeping our rates affordable while at the same time providing the
            highest quality service you will find in your area. ShallDo Compassionate Caregiver
            Services, Inc. is happy to provide the following services: </p>
    </div>
</div><br>
<div class="row">
    <div class="col-md-2" id="col-left">
        <div>
            <ul>
                <li>Companionship</li>
                <li>Bathing Assistance</li>
                <li>Laundry</li>
                <li>Toileting Assistance</li>
                <li>Grocery Shopping</li>
                <li>Dressing Assistance</li>
                <li>Meal Preparation</li>
                <li>Medicinal Reminders</li>
            </ul>
        </div>
    </div>
    <!-- end col-left -->
    <div class="col-md-2" id="col-right">
        <div>
            <ul>
                <li>Errands</li>
                <li>Household Chores</li>
                <li>Alzheimer's Care</li>
                <li>Respite Care</li>
                <li>Hospital Sitting</li>
                <li>Nursing Home Sitting</li>
                <li>Assisted Living Sitting</li>
                <li>Pet Care</li>
            </ul>
        </div>
    </div>
    <!-- end col-right -->

</div> <!-- end row -->