<div style="padding-left: 20px">
    <div>
        <h2 style="text-align: start; color: red">ShallDo Compassionate Care Giver Services</h2>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <p>Welcome to ShallDo Compassionate Caregiver Services, an agency established during 2016
                to do a Davine service for the elderly, disabled and low-income of our communities.
                We endeavor to support family members in all aspects of the care of their loved ones in
                their home.</p>

            <p>Mission: ShallDo mission is to provide family members with the vital support essential
                for them to continue with their lifestyles and keep their loved ones at home during this
                momentous time.</p>

            <p>When it's all over, it's not who you were; it's whether you made a difference.
                ~Bob Dole.</p>


            <p>Find competent and compassionate in-home care assistance to keep your loved ones
                at peace - home HErE</p>
        </div>
    </div>

</div>