<div style="padding-left: 20px">
    <h3>About Us</h3>

    <div class="row">
        <div class="col-lg-4">
            <p>ShallDo Compassionate Caregiver Services is here to your rescue. We perform care
                from our heart. For many family members that are close to retirement and cannot
                devote their time to care for their loved ones at home and do not wish to admit
                them into a skilled nursing facility or a nursing home, my staff and I are here
                to give you and your loved one peace of mind.</p>

            <p>From experience working with the elderly, it is found that building trust and
                serving them with the same compassion as is expected keeps them comfortable,
                cooperative and in great spirits.</p>

            <p>At home, the family members will meet and be acquainted with each personnel caring
                for their loved ones. We understand that we all may be in this position one day
                and our goal is to see everyone maintain independence as long as possible as well
                as see you keep control over all your estate. </p>

            <p>At the competitive rate, we will provide all the support your loved ones need to
                carry on their customary daily activities, which includes medication reminders,
                bathing, grooming, oral care, transferring, toileting, meal preparation, and feeding
                if necessary, reading and other customary activities, and any other tasks you request
                during the day. We are here for you on a 24/7 basis.</p>

            <div>
                <label>Careers:</label>
                <ul>
                    <li>Apply for Jobs by zip code</li>
                    <li>Application</li>
                </ul>

                <label>Upload:</label>
                <ul>
                    <li>driver's license</li>
                    <li>auto insurance cards</li>
                    <li>W4 & Tax papers</li>
                    <li>Direct deposit form</li>
                </ul>

                <label>Shifts are available:</label>
                <ul>
                    <li>Full-time</li>
                    <li>Part-time</li>
                    <li>Overnight</li>
                    <li>Weekends</li>
                    <li>Respite position</li>
                    <li>Business hours</li>
                </ul>
            </div>
        </div>
    </div>

    <!--<coinAttributes-table></coinAttributes-table>-->
</div>